<footer class="footer ps-0 d-flex align-items-center justify-content-between">
    
    <div class="infos_footer d-flex w-50 ps-0 justify-content-evenly">
        <a href="https://ecollectivites.fr" target="_blank">
        <img src="{{ imageFooterUrl }}" style="width: auto; height: 28px; text-align: center;" class="">
        </a>
        <span
        class="d-flex align-items-center fs-4 "
        data-bs-toggle="tooltip" data-bs-placement="top"
        title="{{ horaire_support }}"
        >Horaires du support</span>
        
        <span class="d-flex align-items-center fs-4 fw-lighter ">{{ numero_telephone_support }}</span>
        <a href="mailto:{{ adresse_mail_support }}" class="d-flex align-items-center fs-4 fw-lighter">{{ adresse_mail_support }}</a>
        <div class="social_network ">
        <ul>
            <li>
                <a href="https://www.linkedin.com/company/ecollectivites/mycompany/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
                </a>
            <li>
        </ul>
    </div>
    </div>
    
</footer>