<div class="col-md-12 mb-2">
<!-- Titre de l'article -->
        <div class="article_title pb-2 col-md-12">
                <h1 class="text-center">{{ label }}</h1>
                <h2 class="text-center">{{ content.field_sous_titre }}</h2>
        </div>
        <div class="col-md-12">
        <!-- Texte de l'article -->
                <div class="article-text">
                
                        <div class="article_image float-start ">
                                {% if node.field_tags.0 is not empty %}
                                        <a href="/taxonomy/term/{{node.field_tags.0.target_id}}" class="tag_btn w-auto p-2 "><i class="pe-2 fa-solid fa-tag"></i>{{ node.field_tags.0.entity.label }}</span></a>
                                {% endif %}
                                {{ content.field_image_du_guide }}
                        </div>
                        <div class="article_body lh-base">
                                {{ content.body }}
                        </div>
                </div>
        </div>
</div>
        